{% extends "base4.html" %}
{% block title %}File Uploader{% endblock %}

{% block page_content %}
<div class="container">
    <h1>低信噪比音频强化系统</h1>
    <br>
    <blockquote class="blockquote">
        <p class="font-weight-bold">传统算法</p>
    </blockquote>
    <!-- The file upload form used as target for the file upload widget -->

    <div class="row">
    <div class="col-sm-6  col-md-3 mb-3">
	<div class="card h-100 shadow" >
		<img class="card-img-top" src="./static/img/model.jpg" alt="">
        <a class="card-block stretched-link text-decoration-none" href="/model"></a>
		<div class="card-body">
			<h5 class="card-title">谱减法 </h5>
			<p class="card-text">
				传统算法模型
			</p>
			<p class="card-text"><small class="text-muted"></small></p>
		</div>
	</div>
    </div>
    <div class="col-sm-2  col-md-3 mb-3">
	<div class="card h-100 shadow" >
		<img class="card-img-top" src="./static/img/model2.jpg" alt="">
        <a class="card-block stretched-link text-decoration-none" href="/"></a>
		<div class="card-body">
			<h5 class="card-title">MMSE</h5>
			<p class="card-text">
				传统算法模型
			</p>
			<p class="card-text"><small class="text-muted"></small></p>
		</div>
	</div>
    </div>
    <div class="col-sm-2  col-md-3 mb-3">
	<div class="card h-100 shadow" >
		<img class="card-img-top" src="./static/img/model3.jpg" alt="">
        <a class="card-block stretched-link text-decoration-none" href="/"></a>
		<div class="card-body">
			<h5 class="card-title">维纳滤波</h5>
			<p class="card-text">
				传统算法模型
			</p>
			<p class="card-text"><small class="text-muted"></small></p>
		</div>
	</div>
    </div>
    <div class="col-sm-2  col-md-3 mb-3">
        <div class="card h-100 shadow" >
		<img class="card-img-top" src="./static/img/model4.jpg" alt="">
        <a class="card-block stretched-link text-decoration-none" href="/"></a>
		<div class="card-body">
			<h5 class="card-title">卡尔曼滤波</h5>
			<p class="card-text">
				传统算法模型
			</p>
			<p class="card-text"><small class="text-muted"></small></p>
		</div>
	</div>
    </div>
</div>

    <br>
    <blockquote class="blockquote">
        <p class="font-weight-bold">T-F Domain 时频域模型</p>
    </blockquote>

    <div class="row">
    <div class="col-sm-6  col-md-3 mb-3">
	<div class="card h-100 shadow" >
		<img class="card-img-top" src="./static/img/model5.jpg" alt="">
        <a class="card-block stretched-link text-decoration-none" href="/"></a>
		<div class="card-body">
			<h5 class="card-title">CRN</h5>
			<p class="card-text">
				时频域模型
			</p>
			<p class="card-text"><small class="text-muted"></small></p>
		</div>
	</div>
    </div>
    <div class="col-sm-6  col-md-3 mb-3">
	<div class="card h-100 shadow" >
		<img class="card-img-top" src="./static/img/model6.jpg" alt="">
        <a class="card-block stretched-link text-decoration-none" href="/"></a>
		<div class="card-body">
			<h5 class="card-title">GRN</h5>
			<p class="card-text">
				时频域模型
			</p>
			<p class="card-text"><small class="text-muted"></small></p>
		</div>
	</div>
    </div>
</div>


    <br>
    <blockquote class="blockquote">
        <p class="font-weight-bold">Time Domain时域模型</p>
    </blockquote>

    <div class="row">
    <div class="col-sm-6  col-md-3 mb-3">
	<div class="card h-100 shadow" >
		<img class="card-img-top" src="./static/img/model7.jpg" alt="">
        <a class="card-block stretched-link text-decoration-none" href="/"></a>
		<div class="card-body">
			<h5 class="card-title">RTNet</h5>
			<p class="card-text">
				时域模型
			</p>
			<p class="card-text"><small class="text-muted"></small></p>
		</div>
	</div>
    </div>
</div>





    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Notes</h3>
        </div>
        <div class="panel-body">
            <ul>

                    <li>点击以查看模型算法.</li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}

{% endblock %}
